{% extends '../layout/default.html' %}
{% load crispy_forms_tags %}
{% block title %} Register {% endblock %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Django</b>CMR</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Rgister</p>

      <form method="POST">
          {% csrf_token %}
          {{ form | crispy }}
          <button class="btn btn-default">Register</button>
      </form>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock content%}